<?xml version="1.0"?>
<config>
	<master>
		<ip>127.0.0.1</ip>
		<port-for-client>6789</port-for-client>
		<port-for-worker>6780</port-for-worker>
	</master>
	<worker>
		<ip>127.0.0.1</ip>
		<port-for-client>1234</port-for-client>
		<port-for-worker>1235</port-for-worker>
	</worker>
	<worker>
		<ip>127.0.0.1</ip>
		<port-for-client>1234</port-for-client>
		<port-for-worker>1235</port-for-worker>
	</worker>
	<worker>
		<ip>127.0.0.1</ip>
		<port-for-client>1234</port-for-client>
		<port-for-worker>1235</port-for-worker>
	</worker>
	<num-of-mappers>3</num-of-mappers>
	<num-of-reducers>3</num-of-reducers>
	<num-of-splits>3</num-of-splits>
</config>